{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">
         {% comment %} Alertity JS {% endcomment %}
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
<body>
 <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/" class="nav-item nav-link active">Home</a>


                            <a href="{% url 'cartdetails' %}" class="nav-item nav-link">Cart</a>
                            <a href="{% url 'my-orders' %}" class="nav-item nav-link">MyOrder</a>



                        </div>
                        <div class="navbar-nav ml-auto">

                        {% if user.is_authenticated %}
                             <a href="" class="nav-item nav-link">hai {{user.username}}</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                            <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>
                            {% endif %}


                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->

        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col-md-6">
                        <form action="{% url 'search' %}" method="get">
                        <div class="search">
                            <input type="text" name="q" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                        </form>
                    </div>

                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>{{count}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->
    {% block content     %}
    {% endblock %}<!-- Navbar End -->
 {% comment %} Alertity JS{% endcomment %}

 <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
 <script>
       alertify.set('notifier','position', 'top-right');
     {% for msg in messages %}
        alertify.success('{{msg}}');
     {% endfor %}


 </script>

{% block scripts %}

{% endblock scripts %}
  {% comment %} Razorpay checkout {% endcomment %}
<script src ="{% static '/js/checkout.js' %}"> </script>
</body>
</html>
